.button {
  width: 150px;
  position: relative;
  border-radius: 12px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13px 16px;
  box-sizing: border-box;
  gap: 10px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: Gilroy-SemiBold;
  border: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  &:disabled {
    // pointer-events: none;
    border: none;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0.35) 100%
      ),
      radial-gradient(circle at 76.68% 66.67%, #602ea6 0%, #c977d6 100%);
    color: rgba(255, 255, 255, 0.3);
  }
  .icon {
    display: flex;
    max-width: 20px;
    max-height: 20px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .InfoLabel {
    display: none;
    position: absolute;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid var(--new_stroke, rgba(111, 111, 111, 0.15));
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    );
    box-shadow: 0px 16px 35px -15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    top: -30%;
    right: -40px;
  }
  &:hover {
    .InfoLabel {
      display: flex;
    }
  }
}

.primary {
  background: linear-gradient(
      180deg,
      rgba(254, 200, 241, 0.7) -27.89%,
      rgba(254, 200, 241, 0) 22.31%
    ),
    radial-gradient(circle at 78.66% 71.16%, #602ea6 0%, #c977d6 100%);

  background-size: cover, cover;

  &:not(:disabled):hover {
    background: linear-gradient(
        180deg,
        rgba(254, 200, 241, 0.9) -22.92%,
        rgba(254, 200, 241, 0) 100%
      ),
      radial-gradient(circle at 76.68% 66.67%, #602ea6 0%, #c977d6 100%);
    background-blend-mode: overlay, normal;
  }

  &:not(:disabled):active {
    background: linear-gradient(
        180deg,
        rgba(254, 200, 241, 0.9) -22.92%,
        rgba(254, 200, 241, 0) 19.57%
      ),
      radial-gradient(circle at 76.68% 66.67%, #602ea6 0%, #c977d6 100%);
    background-blend-mode: overlay, normal;
  }
}

.outline {
  background: transparent;
  border: 1px solid #602ea6;
  &:not(:disabled):hover {
    border-radius: 12px;
    border: 1.5px solid #c352cf;
    background: linear-gradient(
      180deg,
      rgba(203, 94, 255, 0.4) 0%,
      rgba(127, 71, 153, 0.05) 79.5%
    );
  }
  &:not(:disabled):active {
    border: 1px solid #602ea6;

    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      rgba(211, 118, 255, 0.1);
  }
}
