.button {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  background: linear-gradient(
      180deg,
      rgba(254, 200, 241, 0.7) -27.89%,
      rgba(254, 200, 241, 0) 22.31%
    ),
    radial-gradient(circle at 78.66% 71.16%, #602ea6 0%, #c977d6 100%);

  background-size: cover, cover;
  &.visible {
    animation: fadeInFromBottom 0.5s ease-out;
    opacity: 1;
  }
  &.hidden {
    animation: fadeOutFromBottom 0.5s ease-out;
    opacity: 0;
  }
  &:hover {
    background: linear-gradient(
        180deg,
        rgba(254, 200, 241, 0.9) -22.92%,
        rgba(254, 200, 241, 0) 100%
      ),
      radial-gradient(circle at 76.68% 66.67%, #602ea6 0%, #c977d6 100%);
    background-blend-mode: overlay, normal;
  }

  &:active {
    background: linear-gradient(
        180deg,
        rgba(254, 200, 241, 0.9) -22.92%,
        rgba(254, 200, 241, 0) 19.57%
      ),
      radial-gradient(circle at 76.68% 66.67%, #602ea6 0%, #c977d6 100%);
    background-blend-mode: overlay, normal;
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40px); /* Starts below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Ends in its normal position */
  }
}
@keyframes fadeOutFromBottom {
  0% {
    opacity: 1;
    transform: translateY(0); /* Starts below */
  }
  100% {
    opacity: 0;
    transform: translateY(40px); /* Ends in its normal position */
  }
}
