.dropdown {
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;

  width: 400px;
  height: 40px;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--new_input_stroke, rgba(111, 111, 111, 0.25));
  background: var(--White-white_5, rgba(255, 255, 255, 0.05));
  cursor: pointer;
  color: var(--White-white, #fff);

  /* Body-2/Semi-bold */
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  .placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }

  &.button-open {
    border: 1px solid var(--purple-purple, #d376ff);
    background: var(
      --background-content_bg-content_bg-5,
      rgba(137, 137, 234, 0.05)
    );
    backdrop-filter: blur(60px);
  }
}

.dropdown-content {
  position: absolute;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  max-height: 140px;
  overflow: hidden;

  overflow-y: auto;
  -ms-overflow-style: none;
  transform: translateY(-5%);
  transition:
    transform 150ms ease-in-out,
    opacity 100ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  border-radius: 12px;
  background: var(
    --background-content_bg-content_bg-5,
    rgba(137, 137, 234, 0.05)
  );
  backdrop-filter: blur(60px);

  &::-webkit-scrollbar {
    width: 4px;
  }

  &.content-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}
.dropdown-content::-webkit-scrollbar {
  width: 4px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.dropdown-content::-webkit-scrollbar-track {
  background: rgba(137, 137, 234, 0.03);
}
.dropdown-item {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 9px;
  align-self: stretch;
  width: 100%;
  color: var(--White-white, #FFF);

/* Body-2/Semi-bold */
font-family: Gilroy-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 14px */
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }
  &:active {
    background: rgba(255, 255, 255, 0.02);
  }
  &.selected {
    background: rgba(255, 255, 255, 0.05);
  }
}