.table {
  width: 800px;
  //   height: 210px;
  padding: 16px;
  gap: 24px;
  border-radius: 16px;
  background: rgba(137, 137, 234, 0.05);

  backdrop-filter: blur(100px);
  overflow: hidden;
  table {
    width: 100%;
  }
  thead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 50px;
    .th_con {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      //styleName: Body-2/Light;
      font-family: Gilroy-Regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #ffff;
    }
  }
  tbody {
    tr {
      height: 64px;
      cursor: pointer;
      .td_con {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        //styleName: Body-2/medium;
        font-family: Gilroy-Medium;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffff;
        cursor: pointer;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
