@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./assets/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
}
/* Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: rgba(137, 137, 234, 0.03); /* Light purple background */
  border-radius: 2px; /* Rounded edges */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); /* White thumb */
  border-radius: 2px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2); /* Slightly darker thumb on hover */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
